/*** Begin Media Filter ***/
@media only screen and (max-width: 600px) {
    /*** Current Weather Condition ***/
    .current {
        display: none;
    }

    .current img {
        display: none;
    }

    .current p {
        display: none;
    }

    /*** Navigation Bar ***/
    nav {  
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;
        background-color: #33658A;
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #33658A;
        border: none;
    }

    .navigate li a {
        display: block;
        color: #F6AE2D;
        padding: 8px 16px;
        text-decoration: none;
    }

    .navigate li {
        text-align: center;
        border-bottom: 1px solid #F6AE2D;
    }

    .navigate li:last-child {
        border-bottom: none;
    }

    .navigate li a.active {
        background-color: #758E4F;
        color: white;
    }

    .navigate li a:hover:not(.active) {
        background-color: #F6AE2D;
        color: white;
    }
    
    .navigate.responsive { 
        position: relative; 
    }

    .navigate.responsive li { 
        background-color: #33658A;    
        display: block; 
        width: 100%; 
        margin: 0 0 0 0; 
        border-top: .25px solid #F6AE2D;
        border-bottom: .25px solid #F6AE2D;
    }
    
    .navigate.responsive li a {  
        padding: .25rem;
        color: #F6AE2D;
        text-align: center;  
        display: block; 
        text-decoration:none; 
    }

    .navigate.responsive li a:hover { 
        background-color: #33658A;
        color: #86BBD8;
    }

    /*** 5 Day ***/
    .container2 {
        display: none;
    }

    .container2 div {
        display: none;
    }
    .wind #chill2 {
        display:none
    }
    .picgrid {
        grid-template-columns: 1fr;
    }
}

/*** Body Whole ***/
body {
    font-family: 'Merriweather', serif;
}

h3 {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #F6AE2D;
}

/*** Body - Header ***/
header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #758E4F;
    padding: none;
    color: #fff;
}

header > img {  
    vertical-align: middle;
    max-width: 128px;
    height: auto;   
    width: 100%;      
}

.headertext {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem 0 1rem 5rem;
}

.headerh1-1 {
    font-size: 1em;
    font-family: 'Merriweather', serif;
    color: #86BBD8;
}

.headerh1-2 {
    font-size: 1em;
    font-family: 'Merriweather', serif;
    color: #F6AE2D;
}

.headerh2 {
    font-size: .75em;
    font-family: 'Merriweather', serif;
    padding: 0rem;
    margin: 0rem 0 0rem 0rem;
    color: #fff;
}

.subheading {
    font-size: 1.5rem;
    color: #33658A;
    font-style: italic;
    font-weight: bolder;
}

/*** Hamburger Menu ***/
.hamburger { 
    display: block;
    position: relative;
}

/*** Navigation Bar ***/
.navigate { 
    list-style: none; 
    padding-left: 0; 
}

.navigate li { 
    display: none; 
}

/*** Body - Main ***/
main h2 {
    text-align: center;
    color: #758E4F;
}

/*** Main Figure ***/
.picgrid {
    display: grid;
    align-content: center;
    text-align: center;
    width: 100%;
    max-width: 850px;  
}

.picgrid img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/*** Main Containers ***/
.container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 850px;
    height: auto;
    color: #758E4F;
    margin: 1em auto 0 auto;
}

/*** Main Image ***/
.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 850px;
    height: auto;
}

/*** Text Over Image ***/
.imgbox {
    position: absolute;
    border-radius: 25px;
    max-width: 200px;
    width: 100%;
    top: 10px;
    left: 10px;
    margin: 30px;
    background-color: #758E4F;
    border: 5px solid #33658A;
    opacity: 0.6;
}

.imgbox h3 {
    margin: 5%;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #F26419;
    text-shadow:
        -1px -1px 0 #F6AE2D,
        1px -1px 0 #33658A,
        -1px 1px 0 #33658A,
        1px 1px 0 #33658A;
}

.imgbox p {
    margin: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #F26419;
    text-shadow:
        -1px -1px 0 #F6AE2D,
        1px -1px 0 #33658A,
        -1px 1px 0 #33658A,
        1px 1px 0 #33658A;
}

/* Paragraph with styling within imgbox*/
.pwhite {
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: #33658A;
    text-shadow:
        -1px -1px 0 #F26419,
        1px -1px 0 #86BBD8,
        -1px 1px 0 #86BBD8,
        1px 1px 0 #86BBD8;
}

.container.map {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #86BBD8;
}

.container.map img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 1em 0 1em 0;
}

.container.map #site {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #33658A;
    margin: 1em 0 1em 0;
}

.container.map #site img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 20px;
    height: auto;
}

.container.map iframe {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1em 0 1em 0;
}

/*** Town Article ***/
.container #article {
    background-color: #86BBD8;
}

.container #article h3 {
    color: #F26419;
    text-align: left;
    margin-bottom: 0;
    padding: 1rem 0 0 1rem;
}

#author {
    font-size: .75rem;
    font-style: italic;
    text-align: left;
    padding: 0 0 0 1rem;
}

.container #article p {
    color: #33658A;
    font-size: .75rem;
    padding: 0 0 1rem 2rem;
    text-align: left;
}

.container #article img {
    float: right;
    border-radius: 25px;
    max-width: 250px;
    width: 100%;
    margin: 1rem;
}

/*** Wind Chill ***/
.wind {
    display: flex;
    justify-content: space-between;    
    color: #33658A;
}

.wind h3 {
    text-align: center;
    color: #33658A;
}

.wind #chill1 {
    position: absolute;
    top: 10px;
    left: 100px;
}

.wind #chill2 {
    position: absolute;
    top: 10px;
    right: 100px;
}

.wind input {
    width: 100%;
    max-width: 30px;
}

/*** Footer ***/
footer {
    display: block;
    margin: 1em auto 1em auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    text-align: center;
    max-width: 850px;
    height: auto;
    background-color: #758E4F;
    padding: 2em 0 2em 0;
    color: #fff;    
}

@media only screen and (min-width: 600px) {
    .picgrid {
        grid-template-columns: 1fr 1fr; 
    }
}

@media only screen and (min-width: 835px) {
    nav ul {  
        text-align: center;
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;
        background-color: #33658A;
    }
    .navigate {  
        background-color: #33658A; 
        overflow: hidden;   
        text-align: center; 
    }

    .navigate li {
        display: inline-block;
        margin-left: 1.5rem; 
        padding: .5em;
    }

    .navigate a {
        display: block;
        padding: .5rem; 
        text-align: center; 
        text-decoration: none;
        color: #F6AE2D;
    }

    .navigate a:hover {  
        color:#758E4F; 
        background-color: #33658A;    
    }

    .hamburger { 
        display: none; 
    }

    .container {
        margin: 1em auto 0 auto;
    }

    .container2 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        max-width: 850px;
        height: auto;
        color: #758E4F;
        margin: 0 auto 0 auto;
    }

    .container2 div {
        vertical-align: middle;
        text-align: center;
        border-radius: 25px;
        width: 19.5%;
        border: 1px solid #33658A;
        margin: 25px auto 0px auto;
    }

    .container2 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 50%;
        height: auto;
    }

    /*** Current Weather Condition ***/
    .current {
        display: inline-block;
        border-radius: 25px;
        vertical-align: middle;
        margin: 1rem 0 1rem 5rem;
        padding: .5rem;
        vertical-align: middle;
        color: #fff;
        background-color: #86BBD8;
        border: 3pt solid #F26419;
        font-size: 1.1rem;
        box-shadow: 5px 5px 5px black;
    }

    .current img {
        width: 90px;
        height: auto;
        vertical-align: middle;
    }

    .current p {
        display: inline-block;
        vertical-align: middle;
        padding: .5rem;
        font-size: 14px;
        color: #000;
    }

    .picgrid {
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .picgrid img {
        box-shadow: 10px 5px 10px #F26419;
    }
}